* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f3b1df;
}

/* ===== Hero Section ===== */
header.hero {
  background: url('/0af05de015aab890330c6ef404e7662c.jpg') center center/cover no-repeat;
  height: 100vh;
  color: #2a044f;
  text-align: center;
  padding: 150px 20px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffbae5;
}

.hero-content h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #bf46da;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #16010b;
  
}

.btn:hover {
  background: white;
  color: #ec4899;
}

/* ===== Sections ===== */
.section {
  padding: 80px 20px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
}


.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #070000;
 
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* ===== Contact Form ===== */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.contact-form button {
  background: #ec4899;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  
}

.contact-form button:hover {
  background: #d9468f;
}


footer {
  background: #1f2937;
  color: #f3f4f6;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
}
